# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root


# Directories
RAID
REPORT_OUTPUT
NPS_OUTPUT
HISTOGRAMS
MON_OUTPUT
ROOTfiles
ROOTfiles_old*
.root_history
raw
raw.copiedtotape
cache
scratch
.vscode

# Symbolic links
hcana
deut
xem
raw2
*zh*